
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
// @import url("https://fonts.googleapis.com/css?family=Roboto:500");
h2 {
  color: white;
  font-size: 35px;
}
body {
  background: url('https://images.unsplash.com/photo-1501979376754-2ff867a4f659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  // background-size: cover;
  padding-top: 20px;
}

.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container {
  margin-top: 10px;
  width: 600px;
}

.box {
  align-items: center;
  color: black;
  display: flex;
  height: 70px;
  justify-content: center;
  padding: 40px;
  color: white;
  text-shadow: 2px 2px rgba(0 , 0, 0, .25);
  font-size: 10vh;
  user-select: none;
}

#one, #two, #four, #five {
  border-right: 7px solid white;
  border-bottom: 7px solid white;
}

#three, #six {
  border-bottom: 7px solid white;
}

#seven, #eight {
  border-right: 7px solid white;
}

p {
  color: white;
  text-shadow: 2px 2px rgba(0 , 0, 0, .25);
  font-size: 3vh;
  font-weight: bold;
}

button {
  background: #4B81E8;
  color: white;
  border-radius: 10px;
}

input {
  margin: 10px;
}

@media screen and (max-width: 550px) {
  p {
    font-size: 2.3vh;
  }
  input {
    display: block;
  }
  #chpw {
    display: block;
  }
  .container {
    width: 350px;
  }
}
